.footer{
	width: 400px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.footer img{
	width: 25px;
	height: 25px;
}

.novoBtn {
	margin-left: 390px;
	margin-bottom: 20px;
}

.showSuccess {
	display: block;
	margin-left: 390px;
	margin-right: 230px;
	width: 400px;
}

.hideSuccess {
	display: none;
}

.indexBtn {
	float: left;
	margin-right: 50px;
}

.errorMessages {
	color: red;
	font-weight: bold;
}

.btn-file {
	position:absolute;
	z-index:2;
	top:0;
	left:0;
	filter: alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity:0;
	background-color:transparent;
	color:transparent;
}

