.footer{
	width: 400px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

.footer img{
	width: 25px;
	height: 25px;
}

.alertaSucesso {
	margin-left: 230px;
	margin-right: 230px;
}

.novoBtn {
	margin-left: 230px;
	margin-bottom: 20px;
}